{% from "_formhelpers.html" import render_field %}
<form method=post action="/login">
  <dl>
  	{{ render_field(form.email) }}
  	{{ render_field(form.password) }}
  </dl>
  <p><input type=submit value=Login>
</form>